<article id="feature-card">
        <div class="song-features">
            <p class="song-duration-ms">
                duration: {{duration_ms}}
            </p>
            <p class="song-key">
                key: {{key}}
            </p>
            <p class="song-mode">
                mode: {{mode}}
            </p>
            <p class="song-time-signature">
                time signature: {{time_signature}}
            </p>
            <p class="song-acousticness">
                acousticness: {{acousticness}}
            </p>
            <p class="song-danceability">
                danceability: {{danceability}}
            </p>
            <p class="song-energy">
               energy: {{energy}}
            </p>
            <p class="song-instrumentalness">
                instrumentalness: {{instrumentalness}}
            </p>
            <p class="song-liveness">
                liveness: {{liveness}}
            </p>
            <p class="song-loudness">
                loudness: {{loudness}}
            </p>
            <p class="song-speechiness">
                speechiness: {{speechiness}}
            </p>
            <p class="song-valence">
                valence: {{valence}}
            </p>
            <p class="song-tempo">
                tempo: {{tempo}}
            </p>
            <p class="song-id">
                id: {{id}}
            </p>
            <p class="song-uri">
                uri: {{uri}}
            </p>
            <p class="song-type">
               type: {{type}}
            </p>
        </div>
    </article>