<article class="song">
        <div class="song-features">
            <p class="song-duration-ms">
                {{duration_ms}}
            </p>
            <p class="song-key">
                {{key}}
            </p>
            <p class="song-mode">
                {{mode}}
            </p>
            <p class="song-time-signature">
                {{time_signature}}
            </p>
            <p class="song-acousticness">
                {{acousticness}}
            </p>
            <p class="song-danceability">
                {{danceabilty}}
            </p>
            <p class="song-energy">
                {{energy}}
            </p>
            <p class="song-instrumentalness">
                {{instrumentalness}}
            </p>
            <p class="song-liveness">
                {{liveness}}
            </p>
            <p class="song-loudness">
                {{loudness}}
            </p>
            <p class="song-speechiness">
                {{speechiness}}
            </p>
            <p class="song-valence">
                {{valence}}
            </p>
            <p class="song-tempo">
                {{tempo}}
            </p>
            <p class="song-id">
                {{id}}
            </p>
            <p class="song-uri">
                {{uri}}
            </p>
            <p class="song-track-href">
                {{track_href}}
            </p>
            <p class="song-analysis-url">
                {{analysis_url}}
            </p>
            <p class="song-type">
                {{type}}
            </p>
        </div>
    </article>