<article class="song">
    <div class="song-buttons">
        <a href="{{preview_url}}"> <button type="button" id="song-button"> <span class="material-icons"> play_circle_outline </span> </button> </a>
        <button type="button" id="song-button" class="save-button"> <span class="material-icons"> done </span></button>
    </div>
    <div class="song-analytics">
        <p class="song-image">
           <img src="{{preview_pic}}">
        </p>
        <p class="song-title">
            {{name}}
        </p>
        <p class="song-artist">
            {{artist_name}}
        </p>
        <p> Popularity: {{popularity}} </p>
        <p> ID: {{id}} </p>
    </div>
</article>