<article class="song">
    <div class="song-buttons">
        <button type="button" id="song-button"> <span class="material-icons"> play_circle_outline </span> </button>
        <button type="button" id="song-button" class="save-button"> <span class="material-icons"> done </span></button>
    </div>
    <div class="song-analytics">
        Popularity: {{popularity}}
        URL: {{preview_url}}
        ID: {{id}}
    </div>
    <div class="song-info">
        <p class="song-title">
            {{name}}
        </p>
        <p class="song-artist">
            {{artist_name}}
        </p>
    </div>
</article>